---
// Component Imports
import Layout from '../../layouts/default.astro'

import { mapExamplesToPages } from '../../../helpers/map-examples-to-page.js'

export async function getStaticPaths() {
    const allExamples = await Astro.glob('../../../examples/**/*.md')

    return await mapExamplesToPages(allExamples)
}

const {
  slug,
} = Astro.params

const {
  title,
  nav,
  gitHubEditUrl,
  entry: {
    Content,
  },
} = Astro.props

---
<Layout
    headTitle={title}
    headDescription=""
>
    <div class="max-w-8xl mx-auto px-4 sm:px-6 md:px-8">
        <div class="hidden lg:block fixed z-20 inset-0 top-[3.8125rem] left-[max(0px,calc(50%-45rem))] right-auto w-[16.5rem] pb-10 px-8 overflow-y-auto">
            <nav id="nav" class="lg:text-sm lg:leading-6 relative">

                <!-- <div class="sticky top-0 -ml-0.5 pointer-events-none">
                    <div class="h-10 bg-white dark:bg-slate-900"></div>
                    <div class="bg-white dark:bg-slate-900 relative pointer-events-auto">
                        <button type="button" class="hidden w-full lg:flex items-center text-sm leading-6 text-slate-400 rounded-md ring-1 ring-slate-900/10 shadow-sm py-1.5 pl-2 pr-3 hover:ring-slate-300 dark:bg-slate-800 dark:highlight-white/5 dark:hover:bg-slate-700">
                            <svg width="24" height="24" fill="none" aria-hidden="true" class="mr-3 flex-none">
                                <path d="m19 19-3.5-3.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <circle cx="11" cy="11" r="6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></circle>
                            </svg>
                            Quick search...<span class="ml-auto pl-3 flex-none text-xs font-semibold">⌘K</span>
                        </button>
                    </div>
                    <div class="h-8 bg-gradient-to-b from-white dark:from-slate-900"></div>
                </div> -->

                <ul>
                    <!-- <li>
                        <a href="/docs/installation" class="group flex items-center lg:text-sm lg:leading-6 mb-4 font-semibold text-sky-500 dark:text-sky-400">
                            <div class="mr-4 rounded-md ring-1 ring-slate-900/5 shadow-sm group-hover:shadow group-hover:ring-slate-900/10 dark:ring-0 dark:shadow-none dark:group-hover:shadow-none dark:group-hover:highlight-white/10 group-hover:shadow-sky-200 dark:group-hover:bg-sky-500 dark:bg-sky-500 dark:highlight-white/10">
                                <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.5 7c1.093 0 2.117.27 3 .743V17a6.345 6.345 0 0 0-3-.743c-1.093 0-2.617.27-3.5.743V7.743C5.883 7.27 7.407 7 8.5 7Z" class="fill-sky-200 group-hover:fill-sky-500 dark:fill-sky-300 dark:group-hover:fill-sky-300"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.5 7c1.093 0 2.617.27 3.5.743V17c-.883-.473-2.407-.743-3.5-.743s-2.117.27-3 .743V7.743a6.344 6.344 0 0 1 3-.743Z" class="fill-sky-400 group-hover:fill-sky-500 dark:fill-sky-200 dark:group-hover:fill-sky-200"></path>
                                </svg>
                            </div>
                            Documentation
                        </a>
                    </li>
                    <li>
                        <a href="https://tailwindui.com/components?utm_source=tailwindcss&amp;utm_medium=navigation" class="group flex items-center lg:text-sm lg:leading-6 mb-4 font-medium text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300">
                            <div class="mr-4 rounded-md ring-1 ring-slate-900/5 shadow-sm group-hover:shadow group-hover:ring-slate-900/10 dark:ring-0 dark:shadow-none dark:group-hover:shadow-none dark:group-hover:highlight-white/10 group-hover:shadow-indigo-200 dark:group-hover:bg-indigo-500 dark:bg-slate-800 dark:highlight-white/5">
                                <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none">
                                    <path d="m6 9 6-3 6 3v6l-6 3-6-3V9Z" class="fill-indigo-100 group-hover:fill-indigo-200 dark:fill-slate-400"></path>
                                    <path d="m6 9 6 3v7l-6-3V9Z" class="fill-indigo-300 group-hover:fill-indigo-400 dark:group-hover:fill-indigo-300 dark:fill-slate-500"></path>
                                    <path d="m18 9-6 3v7l6-3V9Z" class="fill-indigo-400 group-hover:fill-indigo-500 dark:group-hover:fill-indigo-400 dark:fill-slate-600"></path>
                                </svg>
                            </div>
                            Components
                        </a>
                    </li> -->

                    <li class="mt-12 lg:mt-8">
                        <h5
                            class="mb-8 lg:mb-3 font-semibold text-slate-900 dark:text-slate-200"
                        >Examples</h5>
                        <ul class="space-y-6 lg:space-y-2 border-l border-slate-100 dark:border-slate-800">
                            { nav.map(navItem => (
                                <li>
                                    <a
                                        class={[
                                            'block border-l pl-4 -ml-px border-current font-semibold',
                                            navItem.slug === slug ? 'text-sky-500 dark:text-sky-400' : 'text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300',
                                        ].join(' ')}
                                        href={navItem.href}
                                    >{ navItem.label }</a>
                                </li>
                            )) }
                        </ul>
                    </li>

                </ul>
            </nav>
        </div>
        <div class="lg:pl-[16.5rem]">
            <main class="max-w-3xl mx-auto relative z-20 pt-10 xl:max-w-none">
                <!-- <header id="header" class="mb-10 md:flex md:items-start">
                    <div class="flex-auto max-w-4xl">
                        <p class="mb-4 text-sm leading-6 font-semibold text-sky-500 dark:text-sky-400">Installation</p>
                        <h1 class="text-3xl sm:text-4xl font-extrabold text-slate-900 tracking-tight dark:text-slate-200">Get started with Tailwind CSS</h1>
                        <p class="mt-4 text-lg text-slate-700 dark:text-slate-400">Tailwind CSS works by scanning all of your HTML files, JavaScript components, and any other templates for class names, generating the corresponding styles and then writing them to a static CSS file.</p>
                        <p class="mt-4 text-lg text-slate-700 dark:text-slate-400">It's fast, flexible, and reliable — with zero-runtime.</p>
                    </div>
                </header> -->
                <section class="mb-16 relative">

                    <div class="font-bold">Example</div>

                    <div
                        class="markdown-content flex flex-col gap-4 mb-32"
                    >
                        <Content />
                    </div>

                    <a
                        href={gitHubEditUrl}
                        class="underline"
                    >Edit on GitHub</a>
                </section>
            </main>
        </div>
    </div>

</Layout>
