---
import '../styles/global.css'

import Navbar from '../components/navbar.vue'
import Footer from '../components/footer.astro'

const {
    headTitle,
    headDescription,
    contained = true,
    maxWidthClass = 'max-w-8xl'
} = Astro.props

const mainClasses = [
    'main',
    contained ? `container w-full ${ maxWidthClass }` : '',
].join(' ')

---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{ headTitle }</title>

	<meta name="Description" content={ headDescription }>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<link rel="preconnect" href="https://www.googletagmanager.com" crossorigin>
</head>
<body>
    <Navbar />

	<div class={ mainClasses }>
		<slot />
	</div>

    <Footer />
</body>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-28434239-20"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-28434239-20');
</script>
        
<script type="text/javascript">
    window.$crisp=[];window.CRISP_WEBSITE_ID="c4f6667e-68f9-4fdc-92d8-a42364e0d252";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();
</script>

</html>
